.add-form {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(5, 1fr);
  margin: 0 auto;
  padding: 10px;
  border: 2px dashed #0055FB;
  border-radius: 10px;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  min-width: 300px;
}

.add-form__heading {
  margin: 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #0055FB;
  font-family: 'Merriweather', serif;
}

.add-form__input {
  font-family: 'Roboto', sans-serif;
  min-width: 250px;
  line-height: 40px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
  outline: none;
}

.add-form__input:focus {
  opacity: 0.5;
  border: 2px solid #45A5FF;
}

.add-form__input-wrapper {
  width: 250px;
  height: 40px;
  display: flex;
  border: 2px dashed #45A6FF;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-form__file {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.add-form__label {
  min-width: 240px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #0055FB;
}

.add-form__lavel-text {
  border: 2px dashed #45A6FF;
  text-align: center;
}

.add-form__button {
  font-family: 'Merriweather', serif;
  width: 140px;
  height: 40px;
  box-sizing: border-box;
  color: #FFFFFF;
  background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  border-radius: 5px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

.add-form__button :hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.add-form__button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.add-form__button:disabled {
  background: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
}

@media (min-width: 768px) {
  .add-form {
    min-width: 600px;
  }

  .add-form__heading {
    font-size: 18px;
  }

  .add-form__input {
    min-width: 400px;
  }

  .add-form__button {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .add-form {
    min-width: 400px;
  }

  .add-form__heading {
    font-size: 20px;
  }

  .add-form__input {
    min-width: 350px;
  }

  .add-form__button {
    font-size: 18px;
  }
}