.App {
  margin: 20px auto;
  box-sizing: border-box;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 80px;
  justify-content: start;
  align-items: start;
}

@media (min-width: 1200px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    max-width: 1000px;
  }
}

